.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.brand-gradient{            
    background: #0084ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0084ff, #3ccd32); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0084ff, #3ccd32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
